*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #353B74 ;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
    margin: 20px 5%;
}
header .logo a{
    font-size: 35px;
    font-weight: 800;
    text-decoration: none;
    color: white;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}
header .navbar a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 30px;
    color: white;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}
/* section*/

.Home-content{
    width: 100%;
    display: flex;
    gap: 10%;
    padding-top: 30px;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}
.Home-content .login{
    background-color:#d1d2da50;
    width: 40%;
    color: white;
    margin: 0 5%;
    border-radius: 10px;
}
form{
    padding: 0 50px 50px 50px;
}
form h1{
    font-size: 50px;
    font-weight: 800;
    margin: 10px 0px  20px 0; 
}
.entry-filed{
    padding: 0 50px 50px 0;
}
form .entry-filed p{
    font-size: 20px;
    margin-bottom: 10px;
}
form .entry-filed input{
    width: 100%;
    height: 100px;
    font-size: 16px;
    background-color: #d1d2dad8;
    padding-left: 15px;
    border-radius: 5px;
    color: black;

}
.btn{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 50px;
}
input[type="submit"]{
    background-color: #EBAC06;
    height: 100%;
    width: 200px;
    border: none;
    border-radius: 5px;
    font-size: 17px;

}
form .email{
    padding-bottom: 20px;
}
form .email input {
    height: 50px;
    padding-bottom: 0px;
}
/*hover*/
.navbar .active {
    color: #EBAC06;
}
.navbar a:hover{
    color: #EBAC06;
    letter-spacing: 2px;
    transition: 0.5s;
}
.img-login{
    animation: sildetop 7s ease-in-out infinite;
}

@keyframes sildetop {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
}